# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Feb 17 2019 03:59:29

# Family & Device:    iCE40HX1K

# Package:            VQ100

# ##############################################################################

###IOSet List 1

set_io cpu_dat[0] 63
set_io cpu_dat[1] 64
set_io cpu_dat[2] 65
set_io cpu_dat[3] 66
set_io cpu_dat[4] 68
set_io cpu_dat[5] 69
set_io cpu_dat[6] 71
set_io cpu_dat[7] 72

set_io cpu_addr[0] 79
set_io cpu_addr[1] 80
set_io cpu_addr[2] 81
set_io cpu_addr[3] 82
set_io cpu_addr[4] 83
set_io cpu_addr[5] 85
set_io cpu_addr[6] 86
set_io cpu_addr[7] 87
set_io cpu_addr[8] 53
set_io cpu_addr[9] 56
set_io cpu_addr[10] 59
set_io cpu_addr[11] 62
set_io cpu_addr[12] 60
set_io cpu_addr[13] 57
set_io cpu_addr[14] 54

set_io cpu_ce 78
set_io cpu_rw 74
set_io cpu_m2 89

set_io cpu_dir 52
set_io cpu_ex 73



set_io spi_miso 4
set_io spi_mosi 3
set_io spi_clk 13
set_io spi_ss 2

set_io ice_ss 49
set_io ice_sck 48 
set_io ice_sdi 46
set_io ice_sdo 45


set_io gpio[0] 25
set_io gpio[1] 24
set_io gpio[2] 21
set_io gpio[3] 20

set_io mcu_rst 7
set_io boot0 8




set_io clk 90
set_io boot_on 91 -pullup yes


